.sub-title {
  position: absolute;
  font-size: 1.8rem;
  font-family: monospace, sans-serif;
  font-weight: 800;
  top: 36%;
  left: 30%;
  box-shadow: 0px 0px 7px 5px rgba(255, 245, 238, 0.5);
  border-radius: 20px;
  background-color: rgba(65, 105, 225, 0.6);
  padding: 5px;
}

.link:hover {
  cursor: pointer;
}

.big {
  font-size: 2em;
  border-radius: 30px;
  background-color: rgba(211, 211, 211, 0.5);
}
